@model LayoutVM
<header style="background-image: url('@Url.Content($"~/src/img/layout/{Model.Layout.Header}")')">
    <div class="header-bar">
        <div class="container-fluid">
            <div class="row justify-content-between align-items-center">
                <div class="header-bar-left show d-flex justify-content-center">
                    <a class="filter"> KATEGORİYA </a>
                </div>
                <div class="col-lg-2 header-bar-left none">
                    <div class="icons mt-3">
                        <ul class="menu">
                            <li>
                                <a href="@Model.Layout.Facebook">
                                    <span>FaceBook</span>
                                    <span>
                                        <i class="fab fa-facebook-square" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Model.Layout.Twitter">
                                    <span>Twitter</span>
                                    <span>
                                        <i class="fab fa-twitter-square" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="@Model.Layout.Instagram">
                                    <span>Instagram</span>
                                    <span>
                                        <i class="fab fa-instagram-square" aria-hidden="true"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 header-bar-center">
                    <div class="header-search">
                        <form action="">
                            <div class="input-group">
                                <div class="form-outline">
                                    <input type="search" id="form1" class="form-control" />
                                </div>
                                <button type="button" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-6 header-bar-right d-flex justify-content-end align-items-center">
                    <div class="cat-1200-992">
                        <a class="filter"> KATEGORİYA </a>
                    </div>
                    @*<div class="languages-bar d-flex align-items-center">
                            <div class="lang" id="aze-lang">
                                <img src="~/src/img/logo/azerbaijan.png" alt="" /> <span>Aze</span>
                            </div>
                            <div class="lang" id="eng-lang">
                                <img src="~/src/img/logo/united-kingdom.png" alt="" /> <span>Eng</span>
                            </div>
                            <div class="lang" id="rus-lang">
                                <img src="~/src/img/logo/russia.png" alt="" /> <span>Rus</span>
                            </div>
                        </div>*@
                    @if (!User.Identity.IsAuthenticated)
                    {

                        <div class="login d-flex align-items-center">
                            <a data-toggle="modal" data-target="#Login-Reg" onclick="SwitchToLog()">
                                <div class="nav-link-2"><i class="fas fa-user"></i>Giriş</div>
                            </a>
                            <a data-toggle="modal" data-target="#Login-Reg" onclick="SwitchToReg()">
                                <div class="nav-link-2">
                                    <i class="fas fa-user-plus"></i>
                                    Qeydiyyat
                                </div>
                            </a>
                        </div>
                        <div class="icons d-flex align-items-center">
                            <a data-toggle="modal" data-target="#Login-Reg" onclick="SwitchToLog()" style="cursor: pointer" title="Seçilmişlərə bax!">
                                <div class="nav-link-6 pt-5px">
                                    <i style="font-size: 20px" class="fas fa-bookmark"></i>
                                </div>
                            </a>
                            <a data-toggle="modal" data-target="#Login-Reg" onclick="SwitchToLog()" title="Bildiriş Əldə et!">
                                <div class="nav-link-6 pt-5px">
                                    <i style="font-size: 20px" class="fas fa-bell"></i>
                                </div>
                            </a>
                        </div>
                    }
                    else
                    {
                        <div class="login d-flex align-items-center">
                            <button class="dropdown-head">
                                <div class="nav-link-2"><i class="fas fa-user"></i> @(User.Identity.Name)</div>
                            </button>
                            <ul class="dropdown-body-content">
                                <li class="dropdown-body-item"><a class="item" asp-controller="Profile" asp-action="Index" asp-route-username="@User.Identity.Name" asp-route-active="Profile"><div class="nav-link-2"><i class="fas fa-cog"></i>Hesabım</div></a></li>
                                @if (User.IsInRole("Admin"))
                                {
                                    <li class="dropdown-body-item"><a class="item" asp-area="JrCAdmin" asp-controller="Dashboard" asp-action="Index" ><div class="nav-link-2"><i class="fas fa-tools mr-1"></i>Admin </div></a></li>
                                }
                                <li class="dropdown-body-item"><a class="item" asp-controller="Account" asp-action="Logout"><div class="nav-link-2"><i class="fas fa-sign-out-alt"></i>Çıxış</div></a></li>
                            </ul>
                        </div>
                        <div class="icons d-flex align-items-center">
                            <a asp-controller="Profile" asp-action="Index" asp-route-username="@User.Identity.Name" asp-route-active="Bookmark" style="cursor: pointer" title="Seçilmişlərə bax!">
                                <div class="nav-link-6 pt-5px">
                                    <i style="font-size: 20px" class="fas fa-bookmark"></i>
                                </div>
                            </a>
                            @if (!ViewBag.IsSubScribe)
                            {
                                <a title="Bildirişdən Əldə et!" asp-controller="Contact" asp-action="AddSubscribe">
                                    <div class="nav-link-6 pt-5px">
                                        <i style="font-size: 20px" class="fas fa-bell"></i>
                                    </div>
                                </a>
                            }
                            else
                            {
                                <a title="Bildirişdən Əldə et!" asp-controller="Contact" asp-action="AddSubscribe">
                                    <div class="nav-link-6 pt-5px">
                                        <i style="font-size: 20px" class="fas fa-bell-slash"></i>
                                    </div>
                                </a>
                            }

                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg">
        <div class="container-fluid" style="height: 100%">
            <div class="row justify-content-between align-items-center w-100"
                 style="height: 100% !important">
                <a class="navbar-brand d-flex align-items-center pl-3" asp-controller="Home" asp-action="Index">
                    <img class="nav-logo img-fluid" src="~/src/img/logo/nav-logo.png" alt="" />
                    <div class="page-name">
                        <span class="acc1">Əlçatan Kitabxana </span>
                        <!-- <span class="lib" >Library</span> -->
                    </div>
                </a>
                <div class="navigation d-flex">
                    <a asp-controller="Home" asp-action="Index">
                        <div class="nav-link">Əsas Səhifə</div>
                    </a>
                    <a asp-controller="Books" asp-action="Index">
                        <div class="nav-link">Kitablar</div>
                    </a>
                    <a asp-controller="Books" asp-action="Filter">
                        <div class="nav-link">Ətraflı Axtar</div>
                    </a>
                    <a asp-controller="About" asp-action="Index">
                        <div class="nav-link">Haqqımızda</div>
                    </a>
                    <a asp-controller="Contact" asp-action="Index">
                        <div class="nav-link">Bizimlə Əlaqə</div>
                    </a>
                </div>
                <button class="button-nav" id="Nav-open-btn">
                    <i class="fas fa-bars"></i>
                </button>
            </div>
        </div>
    </nav>
</header>
