
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Accessible Library</title>
    <link rel="icon" href="~/src/img/logo/nav-logo.png" type="image/png" sizes="16x16" />
    <script src="~/src/js/Font_Awesome/icons.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/src/css/bootsrap/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/src/css/bootsrap/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/src/css/bootsrap/bootstrap.css" />
    <link rel="stylesheet" href="~/src/css/style.css" />
    <link rel="stylesheet" href="~/src/css/backend.css" />
    @RenderSection("Css", required: false)
    <title>@ViewData["Title"] - AccesiblelLibrary</title>
</head>
<body>
    <!-- *-*-*-*-*-*-*-*-*      Header Start      *-*-*-*-*-*-*-*-* -->
    <header style="background-image: url('@Url.Content("~/src/img/layout/header2.jpg")')">
        <div class="header-bar">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="header-bar-left show d-flex justify-content-center">
                        <a class="filter"> KATEGORİYA </a>
                    </div>
                    <div class="col-lg-2 header-bar-left none">
                        <div class="icons mt-3">
                            <ul class="menu">
                                <li>
                                    <a href="#0">
                                        <span>FaceBook</span>
                                        <span>
                                            <i class="fab fa-facebook-square" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Twitter</span>
                                        <span>
                                            <i class="fab fa-twitter-square" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>Instagram</span>
                                        <span>
                                            <i class="fab fa-instagram-square" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 header-bar-center">
                        <div class="header-search">
                            <form action="">
                                <div class="input-group">
                                    <div class="form-outline">
                                        <input type="search" id="form1" class="form-control" />
                                    </div>
                                    <button type="button" class="btn btn-primary">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-6 header-bar-right d-flex justify-content-end align-items-center">
                        <div class="cat-1200-992">
                            <a class="filter"> KATEGORİYA </a>
                        </div>
                        <div class="languages-bar d-flex align-items-center">
                            <div class="lang" id="aze-lang">
                                <img src="~/src/img/logo/azerbaijan.png" alt="" /> <span>Aze</span>
                            </div>
                            <div class="lang" id="eng-lang">
                                <img src="~/src/img/logo/united-kingdom.png" alt="" /> <span>Eng</span>
                            </div>
                            <div class="lang" id="rus-lang">
                                <img src="~/src/img/logo/russia.png" alt="" /> <span>Rus</span>
                            </div>
                        </div>
                        @if (!User.Identity.IsAuthenticated)
                        {

                            <div class="login d-flex align-items-center">
                                <a data-toggle="modal" data-target="#Login-Reg" onclick="SwitchToLog()">
                                    <div class="nav-link-2"><i class="fas fa-user"></i>Giriş</div>
                                </a>
                                <a data-toggle="modal" data-target="#Login-Reg" onclick="SwitchToReg()">
                                    <div class="nav-link-2">
                                        <i class="fas fa-user-plus"></i>
                                        Qeydiyyat
                                    </div>
                                </a>
                            </div>
                            <div class="icons d-flex align-items-center">
                                <a data-toggle="modal" data-target="#Login-Reg" onclick="SwitchToLog()" style="cursor: pointer" title="Seçilmişlərə bax!">
                                    <div class="nav-link-6 pt-5px">
                                        <i style="font-size: 20px" class="fas fa-bookmark"></i>
                                    </div>
                                </a>
                                <a data-toggle="modal" data-target="#Login-Reg" onclick="SwitchToLog()" title="Bildiriş Əldə et!">
                                    <div class="nav-link-6 pt-5px">
                                        <i style="font-size: 20px" class="fas fa-bell"></i>
                                    </div>
                                </a>
                            </div>
                        }
                        else
                        {
                            <div class="login d-flex align-items-center">
                                <button class="dropdown-head">
                                    <div class="nav-link-2"><i class="fas fa-user"></i> @(User.Identity.Name)</div>
                                </button>
                                <ul class="dropdown-body-content">
                                    <li class="dropdown-body-item"><a class="item" asp-controller="Profile" asp-action="Index" asp-route-username="@User.Identity.Name" asp-route-active="Profile"><div class="nav-link-2"><i class="fas fa-cog"></i>Hesabım</div></a></li>
                                    <li class="dropdown-body-item"><a class="item" asp-controller="Profile" asp-action="Index" asp-route-username="@User.Identity.Name" asp-route-active="Messages"><div class="nav-link-2"><i class="far fa-envelope mr-1"></i>Mesajlarım</div></a></li>
                                    <li class="dropdown-body-item"><a class="item" asp-controller="Account" asp-action="Logout"><div class="nav-link-2"><i class="fas fa-sign-out-alt"></i>Çıxış</div></a></li>
                                </ul>
                            </div>
                            <div class="icons d-flex align-items-center">
                                <a asp-controller="Profile" asp-action="Index" asp-route-username="@User.Identity.Name" asp-route-active="Bookmark" style="cursor: pointer" title="Seçilmişlərə bax!">
                                    <div class="nav-link-6 pt-5px">
                                        <i style="font-size: 20px" class="fas fa-bookmark"></i>
                                    </div>
                                </a>
                                <a title="Bildirişdən Əldə et!">
                                    <div class="nav-link-6 pt-5px">
                                        <i style="font-size: 20px" class="fas fa-bell"></i>
                                    </div>
                                </a>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid" style="height: 100%">
                <div class="row justify-content-between align-items-center w-100"
                     style="height: 100% !important">
                    <a class="navbar-brand d-flex align-items-center pl-3" asp-controller="Home" asp-action="Index">
                        <img class="nav-logo img-fluid" src="~/src/img/logo/nav-logo.png" alt="" />
                        <div class="page-name">
                            <span class="acc1">Əlçatan Kitabxana </span>
                            <!-- <span class="lib" >Library</span> -->
                        </div>
                    </a>
                    <div class="navigation d-flex">
                        <a asp-controller="Home" asp-action="Index">
                            <div class="nav-link">Əsas Səhifə</div>
                        </a>
                        <a asp-controller="Books" asp-action="Index">
                            <div class="nav-link">Kitablar</div>
                        </a>
                        <a asp-controller="Books" asp-action="Filter">
                            <div class="nav-link">Ətraflı Axtar</div>
                        </a>
                        <a asp-controller="About" asp-action="Index">
                            <div class="nav-link">Haqqımızda</div>
                        </a>
                        <a asp-controller="Contact" asp-action="Index">
                            <div class="nav-link">Bizimlə Əlaqə</div>
                        </a>
                    </div>
                    <button class="button-nav" id="Nav-open-btn">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>
            </div>
        </nav>
    </header>
    <!-- *-*-*-*-*-*-*-*-*      Header End      *-*-*-*-*-*-*-*-* -->
    <!-- ---------------------------------------------------------- -->
    <main>
        @RenderBody()
    </main>

    <!-- *-*-*-*-*-*-*-*-*      Footer Start      *-*-*-*-*-*-*-*-* -->
    <footer style="background-image: url('@Url.Content("~/src/img/layout/footer.jpg")')">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-3 partners py-3">
                    <h4 class="pb-3">Əlaqəli saytlar</h4>
                    <a href="https://azgpeng.com/jrc" target="_blank">
                        <div class="pb-3">
                            <img style="border-radius: 10px; margin-right: 5px; object-fit: cover"
                                 width="40"
                                 height="40"
                                 src="~/src/img/logo/jrc.png"
                                 alt="" />
                            JrC portfolio
                        </div>
                    </a>
                    <a href="https://azgpeng.com" target="_blank">
                        <div>
                            <img style="border-radius: 10px; margin-right: 5px"
                                 width="40"
                                 src="~/src/img/logo/azgp1.png"
                                 alt="" />
                            AzGPEng
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-6 py-3" id="thanks-col">
                    <div class="thanks-foot d-flex flex-column align-items-start justify-content-center">
                        <h4 class="text-center">Təşəkkürlər!</h4>
                        <div><img src="~/src/img/thanks/ShohretM.jpg" alt="" /> Şöhrət Məhərrəmov</div>
                        <div><img src="~/src/img/thanks/logocode.webp" alt="" /> Code Academy</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 py-3" id="spec-thanks-col">
                    <div class="thanks-foot spec-thanks d-flex flex-column align-items-start justify-content-center">
                        <h4 class="text-center">Xüsusi Təşəkkürlər!</h4>
                        <div><img src="~/src/img/thanks/Kamran_Jabiyev.jpg" alt="" /> Kamran Jabiyev (№1)</div>
                        <div><img src="~/src/img/thanks/OrxanBije.jpg" alt="" /> Orxan Bije</div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 py-3" id="contact-col">
                    <div class="contact d-flex flex-column align-items-start justify-content-center">
                        <h4>Əlaqə</h4>
                        <div class="icons">
                            <ul class="menu">
                                <li>
                                    <a href="#0">
                                        <span>facebook</span>
                                        <span>
                                            <i class="fab fa-facebook-square" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>twitter</span>
                                        <span>
                                            <i class="fab fa-twitter-square" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#0">
                                        <span>instagram</span>
                                        <span>
                                            <i class="fab fa-instagram-square" aria-hidden="true"></i>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="mobile text-center d-flex">
                            <span>Tel: </span> <span>+(994) 506804400</span>
                        </div>
                        <div class="mobile text-center d-flex">
                            <span>Email: </span> <span>Knjc621@gmail.com</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 col-md-6" id="jrc-col">
                    <div class="footer-logo d-flex justify-content-center align-items-center">
                        <div class="foot-logo pr-3">
                            <a asp-controller="Home" asp-action="Index">
                                <img src="~/src/img/logo/nav-logo.png" alt="" />
                            </a>
                        </div>
                        <div class="by-jrc">
                            @@2021 Accessible Library by <a href="">P4000</a> and <a href="">JrC</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- *-*-*-*-*-*-*-*-*      Footer End      *-*-*-*-*-*-*-*-* -->
    <!-- ---------------------------------------------------------- -->
    <!-- *-*-*-*-*-*-*-*-*      Components Start      *-*-*-*-*-*-*-*-* -->
    <partial name="_PartialComponents" />

    <!-- ---------------------------------------------------------- -->
    <!-- *-*-*-*-*-*-*-*-*      Selected Start      *-*-*-*-*-*-*-*-* -->
    @RenderSection("SelectHolder1", required: false)
    <!-- ---------------------------------------------------------- -->
    @RenderSection("SelectHolder2", required: false)

    <!-- *-*-*-*-*-*-*-*-*      Selected End      *-*-*-*-*-*-*-*-* -->
    <!-- ---------------------------------------------------------- -->
    <!-- *-*-*-*-*-*-*-*-*      Components End      *-*-*-*-*-*-*-*-* -->

    @if (User.Identity.IsAuthenticated)
    {
        <script>
            var userAuthorized = true;
        </script>

    }
    else
    {
        <script>
            var userAuthorized = false;
        </script>

    }
    <script src="~/src/js/jquery/jquery.js"></script>
    <script src="~/src/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="~/src/js/bootstrap/bootstrap.min.js"></script>
    <script src="~/src/js/mobile.js"></script>
    <script src="~/src/js/main.js"></script>
    <script src="~/src/js/backend.js"></script>
    @RenderSection("Scripts", required: false)
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
