@model List<Book>
@{
    ViewData["Title"] = "Filter";
    string whatsapp = "https://wa.me/994";
}
<!-- *-*-*-*-*-*-*-*-*      Filter Start      *-*-*-*-*-*-*-*-* -->
<section id="Filter">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 form-filter">
                <form >
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="select-form">
                                <label for="">Kateqori seç :</label>
                                <select class="sel-category" Name="MainCatId" id="MainCatId">
                                    <option value="0 " selected>Bütun Kateqorilər</option>

                                    @foreach (Category cat in ViewBag.MainCat)
                                    {
                                    <option value="@cat.Id">@cat.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="select-form">
                                <label for="">Alt Kateqori seç :</label>
                                <select class="sel-child-category" Name="ChildCatId" Id="ChildCatId">
                                    <option value="0" selected>Bütun Elanlar</option>

                                    @foreach (Category cat in ViewBag.ChildCat)
                                    {
                                    <option value="@cat.Id">@cat.Name</option>
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                                <div class="select-form">
                                    <label for="">Şəhər seç :</label>
                                    <select class="sel-child-category" Name="CityId">
                                        <option value="0" selected>Bütun Şəhərlər</option>

                                        @foreach (BookCity city in ViewBag.Cities)
                                        {
                                            <option value="@city.Id">@city.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        <div class="col-sm-4">
                                <div class="cost">
                                    <div class="cost-lab">
                                        <label class="cost-label">Qiymət :</label>
                                    </div>
                                    <div class="min-max">
                                        <div class="col-lg-6 pl-0">
                                            <div class="form-group">
                                                <input type="number"
                                                       min="0"
                                                       max="9999999999"
                                                       placeholder="Min"
                                                       name="Min"
                                                       id="Min"
                                                       value="0"/>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 pr-0">
                                            <div class="form-group">
                                                <input type="number"
                                                       min="0"
                                                       max="9999999999"
                                                       placeholder="Maks"
                                                       name="Max"
                                                       id="Max"
                                                       value="1000"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-sm-4">
                                <div class="select-form">
                                    <label for="">Dil seç :</label>
                                    <select class="sel-category" Name="LanguageId" id="LanguageId">
                                        <option value="0" selected>Bütun Dillər</option>

                                        @foreach (BookLanguage lang in ViewBag.Languages)
                                        {
                                            <option value="@lang.Id">@lang.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="">Ətraflı Axtar :</label>
                                <input type="text" name="SearchKey" id="SearchKey" placeholder="Mən Axtarıram" />
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="search-btn">
                                <button type="button" id="filterForm">Axtar</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- *-*-*-*-*-*-*-*-*      Filter End      *-*-*-*-*-*-*-*-* -->
<!-- ---------------------------------------------------------- -->
<!-- *-*-*-*-*-*-*-*-*      Last Books Start      *-*-*-*-*-*-*-*-* -->
<section id="Books">
    <div class="container pad-top80">
        <div class="row">
            <div class="col-lg-12 d-flex justify-content-center align-items-center">
                <div class="section-head">
                    <h1>Kitablar</h1>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" id="lessfilterbooks">

            @await Component.InvokeAsync("Books", new { take = 8, isActive = true, order = "Id", view = "classic" });

        </div>
        @*<div class="row">
                <div class="col-12 d-flex justify-content-center my-5 loadMore">
                    <a href="">Dahasına Bax</a>
                </div>
            </div>*@
        <div class="row justify-content-center" id="filterbooks">

        </div>

    </div>
</section>
<!-- *-*-*-*-*-*-*-*-*      Last Books End      *-*-*-*-*-*-*-*-* -->
<!-- ---------------------------------------------------------- -->

@section Scripts{
    <script>

        $(document).ready(function () {
            $(document).on("change", "#MainCatId", function () {
                $("#ChildCatId").empty()
                $("#ChildCatId").prop("disabled", false);
                let mainCtgId = $(this).val();
                $.ajax({
                    url: "/Books/LoadChildCategory?MainCatId=" + mainCtgId,
                    type: "Get",
                    success: function (res) {
                        $("#ChildCatId").append(res)
                        if ($("#ChildCatId").val() == 0) {
                            $("#ChildCatId").prop("disabled", true)
                        }
                    }
                })
            })
            $(document).on("click", "#filterForm", function () {
                $("#lessfilterbooks").css("display", "flex")
                $.ajax({
                    url: "/Books/Filter/",
                    type: "Post",
                    data: {  "SearchKey": "sdsa" },
                    success: function (res) {
                        console.log("dsdffgdf")
                        console.log(res)
                        if (res != null) {
                            $("#filterbooks").append(res)
                            $("#lessfilterbooks").css("display", "none")

                        }


                    }
                })
            })

        })
    </script>
}
@section Css{
    <link rel="stylesheet" href="~/src/css/secondary.css" />
}
@section SelectHolder1{
    <partial name="_SelectHolder1" />
}
@section SelectHolder2{
    <partial name="_SelectHolder2" />
}